#content{
    width: 800px;
    margin: 20px auto;
}
h1{
    text-align: center;
    color: #00f;
    margin: 50px 0 20px 0;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
td{
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
}